@import './select.scss';
@import './table.scss';
@import './tabs.scss';
@import './radio.scss';
@import './notification.scss';

.el-loading-mask {
  background-color: rgb(38, 56, 73, 0.8);
  backdrop-filter: blur(10px);
}

.el-skeleton {
  --el-skeleton-color: #1e2f4480;
  --el-skeleton-to-color: var(--color-primary);

  .el-skeleton__item {
    border: 1px solid #b3dff438;
    border-radius: 25px;
  }
}

.item-tooltip-popper {
  max-height: 100%;
}