.el-tabs.el-tabs--card {
  width: 100%;
  --el-color-primary: var(--color-white);
  --el-text-color-primary: var(--color-white);
  --el-border-color-light: var(--color-border);
  --el-tabs-header-height: 45px;
  .el-tabs__header {
    transform: translateY(6px);
  }
  &.el-tabs--card>.el-tabs__header .el-tabs__item {
    border: 1px solid var(--color-border);
    border-radius: 15px 15px 0 0;
    margin-top: 0;
    padding-bottom: 5px;
    &.is-active {
      border-color: var(--color-brown);
    }
  }
  &.el-tabs--card>.el-tabs__header .el-tabs__nav {
    border: none;
  }
  .el-tabs__header {
    margin-bottom: 0;
  }
}