@import './mixins/typography/typography.scss';
@import './mixins/typography/class.scss';
@import './mixins/media.scss';
@import './mixins/element/index.scss';
@import './base.css';

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body,
textarea,
button,
input {
  font-family: var(--font-family-base);
  font-size: 18px;
}
button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: inherit;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  cursor: default;
  background: rgba(9, 23, 39, 1);
  color: var(--color-white);
}

body,
html,
#app,
.default {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
  z-index: 3;
  
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px 0;
  z-index: 2;
}